
<<<<<<< HEAD
@import 'partials/info';
@import 'partials/globals';
@import 'partials/layout';
@import 'partials/flags';
@import 'partials/home';
@import 'partials/homebuscador';
@import 'partials/resultados';
=======
// 0: Todo
// 100: ProfileContainer
// 200: OverlayBuscador
// 500: Buscador


/*====VARIABLES=====*/
/*==================*/

/////Variable Colors//////
$turquesa-baazap: #48AEA7;
$verde-baazap: #1E6775;
$drk-baazap: #242F3A;
$gris-baazap: #CDD5DD;
$gris-drk-baazap: #686C70;
$blanco: #FFF;

/////Variable Font//////
$baazap-font-stack: 'Poppins', sans-serif;
$font-medium: 500;


/*====GlOBALS=====*/
/*================*/

body {
  background: $turquesa-baazap;
  font-family: $baazap-font-stack;
  font-weight: $font-medium;
}

h1, h2, h3, p {
  margin: 0;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/*====LAYOUT=====*/
/*================*/
.container {
  width: 100vw;
  height: 100vh;
  background: $turquesa-baazap;
}


/*====HOME=====*/
/*=============*/

.logoContainerHome{
  padding-top: 20.239vh;
  margin: 0 auto;
  img{
    width: 32.8vw;
    margin-left: calc(50vw - 32.8vw / 2);
  }
}

.searchbarContainer{
  position: relative;
  z-index: 500;
  top: 0; //0 => -37.931vh
  margin: 15.592vh 9.6vw 0;
  width: 80.8vw;
  height: 59px;
  border-radius: 2px;
  background: $blanco;
  input::placeholder{
    color: $drk-baazap;
  }
  input{
    position: absolute;
    left: 5.33vw;
    height: 100%;
    font-size: 4.8vw;
    width: 61.6vw;
    outline: none;
    color: $drk-baazap;
    caret-color: $turquesa-baazap;
    border-width: 0px;
  }
  .searchIcon{
    position: absolute;
    top: 21px;
    right: 5.33vw;
    width: 17px;
    height: 17px;
  }
}

.textoDescripcion{
  width: 66.933vw;
  margin: 2.998vh auto 0;
  p:first-of-type{
    margin-top: 0;
  }
  p{
    margin-top: calc(3.466vw / 1.4);
    color: $blanco;
    text-align: center;
    font-size: 3.466vw;
    line-height: calc(3.466vw * 1.4);
  }
}

.containerProfile{
  position: fixed;
  z-index: 100;
  bottom: -123px; // -123 => -1px
  width: 100vw;
  height: 203px;
  .profileButtonContainer{
    width: 100vw;
    height: 80px;
    .profileButton{
      position: absolute;
      right: 9.6vw;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      background: $blanco;
      img{
        position: absolute;
        top: 16px;
        left: 18px;
      }
    }
  }
  .profileOptionsContainer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 123px;
    border-radius: 4px;
    background: white;
    .loginButton,
    .signupButton{
      width: 100vw;
      height: 60px;
      color: $drk-baazap;
      text-align: center;
      line-height: 60px;
      border-radius: 4px;
    }
    .lineaSeparador{
      width: 84vw;
      height: 2px;
      background: $drk-baazap;
      margin: 0 auto;
    }
  }
}


/*====OVERLAT BUSCADOR TAGS=====*/
/*==============================*/

.buscadorOverlay{
  position: fixed;
  z-index: 0; //0 => 200
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $drk-baazap;
  opacity: 0; //0 => 0.95
}

.tagsBuscadorContainer{
  display: none;
  position: fixed;
  z-index: 200;
  top: calc(13.943vh + 15px);
  left: 9.6vw;
  width: 80.8vw;
  min-height: 69.565vh;
  .tagCategoria,
  .tagProducto,
  .tagPais{
    position: relative;
    display: inline-block;
    height: 49px;
    background: $turquesa-baazap;
    border-radius: 8px;
    padding: 0 15px;
    margin-top: 15px;
    border: 2px solid $turquesa-baazap;
    img{
      width: 16px;
      height: 16px;
      transform: translateY(2px);
      padding-right: 13px;
    }
    span{
      height: 49px;
      line-height: 49px;
      color: $blanco;
    }
    .numeroCategoria{
      padding: 0 15px;
      font-weight: 700;
    }
  }
  .tagProducto{
    border-radius: 49px;
    span{
      padding-right: 15px;
    }
  }
  .tagPais{
    img.banderaTag{
      width: 28px;
      height: 19px;
      transform: translateY(4px);
      padding-left: 15px;
      padding-right: 0px;
    }
  }
}

.resultadosButtonContainer{
  display: none;
  position: fixed;
  z-index: 200;
  bottom: 3.898vh;
  left: 9.6vw;
  width: 80.8vw;
  height: 54px;
  .textoResultados{
    display: inline-block;
    line-height: 54px;
    color: $blanco;
    span{
      font-weight: 700;
      margin-right: 5px;
    }
  }
  .resultadosButton{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: $blanco;
    img{
      position: absolute;
      top: 19px;
      left: 24px;
    }
  }
}


/*====RESULTADOS=====*/
/*===================*/

.headerContainer{
  position: relative;
  padding-top: 3.598vh;
  padding-bottom: 2.998vh;
  width: 80.8vw;
  height: 50px;
  margin: 0 auto;
  background: $turquesa-baazap;
  .logoHeader{
    display: inline-block;
    width: 123px;
    transform: translateY(5px);
  }
  .profileButton{
    position: absolute;
    right: 65px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $blanco;
    border-radius: 50%;
    img{
      position: absolute;
      left: 16px;
      top: 15px;
    }
  }
  .searchButton{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $blanco;
    border-radius: 50%;
    img{
      position: absolute;
      left: 17px;
      top: 17px;
    }
  }
}

.resultadosContainer{
  width: 80.8vw;
  min-height: 81.259vh;
  margin: 0 auto;
  .textoResultados{
    color: $blanco;
    font-size: 4.8vw;
    text-align: center;
    span{
      font-weight: 700;
      padding-right: 5px;
    }
  }
  .tarjetaResultado{
    box-sizing: border-box;
    width: 275px;
    padding: 20px;
    background: $drk-baazap;
    margin: 4vh auto; //2.248vh
    .productoContainer{
      position: relative;
      width: 235px;
      height: 235px;
      background: $blanco;
      img{
        position: absolute;
        display: block;
        height: 160px;
        top: 39px;
        left: 37px;
      }
    }
    .nombreProducto{
      font-size: 18px;
      color: $blanco;
      margin: 15px auto;
      text-align: center;
      font-weight: 700;
    }
    table{
      width: 235px;
      color: $blanco;
      font-size: 14px;
      line-height: 20px;
      .primeraColumna{
        font-weight: 700;
      }
      .segundaColumna{
        text-align: right;
      }
      .terceraColumna{
        text-align: right;
        img{
          transform: translateY(1px);
        }
      }
    }
  }
}

.sugerenciasContainer{
  position: fixed;
  margin:0;
  left: 0;
  bottom: 0;
  max-height: 188px;
  min-width: 100vw;
  background: $verde-baazap;
  overflow-y: hidden;
  white-space: nowrap;
  .productoSugerenciaContainer{
    display: inline-block;
    width: 118px;
    height: 133px;
    background: white;
    margin: 15px 0px 15px 15px;
    .sugerenciaImagenContainer{
      width: 100%;
      height: 108px;
      img{
        height: 75px;
        margin: 50%;
        transform: translate(-50%, -60%);
      }
    }
    .nombreSugerencia{
      font-size: 10px;
      text-align: center;
      width: 97px;
      margin: 0 auto;
      overflow-x: hidden;
    }
  }
}
<<<<<<< HEAD
>>>>>>> d10693fa68f39af7f7c8ae496f8aa214b615dfd9
=======
>>>>>>> d10693fa68f39af7f7c8ae496f8aa214b615dfd9
